html{
    scroll-behavior: smooth;
  }
  .Search-btn {
      margin-left: 25px;
      background: #178cf3ec;
      color: #fff;
      border-radius: 50px;
      padding: 8px 25px;
      white-space: nowrap;
      transition: 0.3s;
      font-size: 14px;
      display: inline-block;
    }
    .appointment-btn:hover {
      background: #166ab5;
      color: #fff;
      text-decoration: none;
    }
    @media (max-width: 768px) {
      .appointment-btn {
        margin: 0 15px 0 0;
        padding: 6px 18px;
      }
    }
    .banner {
      width: 100%;
      height: 80vh;
      background: url("../images/banner.jpg") top center;
      background-size: cover;
    }
    @media (max-width: 768px) {
      .banner {
        height: 100vh; 
      }
    }
    
    .banner h1 {
      padding-top: 200px;
      margin: 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-transform: uppercase;
      color: #0f1011;
    }
    .banner h2 {
      color: #f0f3f5;
      margin: 10px 0 0 0;
      font-size: 24px;
    }
    .banner .btn-get-started {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 35px;
      margin-top: 30px;
      border-radius: 50px;
      transition: 0.5s;
      color: #fff;
      background: #1977cc;
    }
    .banner .btn-get-started:hover {
      background: #3291e6;
      text-decoration: none
    }
    .why-us .content {
      margin-top: -150px;
      padding: 30px;
      background: #1977cc;
      border-radius: 4px;
      color: #fff;
    }
    @media (max-width: 1024px) {
      .why-us .content {
        margin-top: -150px;
        padding: 20px;
      }
      }
    @media (max-width: 768px) {
      .why-us .content {
        margin-top: -120px;
      }
      }
      
      @media (max-width: 576px) {
        .why-us .content {
          margin-top: 20px;
        }
        }
      
    .why-us .content h3 {
      font-weight: 700;
      font-size: 34px;
      
    }
    .why-us .content i{
      font-weight: 800;
      font-size: 34px;
    }
    .counts {
      padding: 30px 0;
    }
    .counters span {
      font-size: 60px;
      display: block;
      font-weight: 700;
    }
    .counters p {
      padding: 0;
      margin: 0 0 20px 0;
      font-family: "Raleway", sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #37423b;
    }
    .service-box{
      padding: 25px;
    }
    .service-box i{
     font-size: 45px;
     padding: 10px;
     color: #fff;
     background-color: #166ab5;
    border-radius: 20px 0 20px 0;
    }
    .kmore-btn{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 30px;
        margin-top: 10px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        background: #1977cc;
      }
  
      .kmore-btn:hover {
        background: #3291e6;
        text-decoration: none
      }
    .testimonial{
      font-family: "Raleway", sans-serif;
    }
    .testi{
      width:100%;
       background-image:url(../images/background\ -\ Copy.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    }
    .appointment{
      background-color:#0077d8;
    }
    .links{
      padding: 20px 0 0 0;
    }
    .links ul{
      padding-left: 0;
    }
    .links li{
      list-style: none;
      padding: 5px 0;
    }
    .links li a{
      color: #5c5c5c;
    }